---
const { text } = Astro.props;
---
<style>
    .banner {
        background-color: red;
        color: white;
        padding: 10px;
        text-align: center;
        font-weight: bold;
    }
</style>

<div class="banner">
    {text}
</div>