---
import ContactForm from '../../components/forms/ContactForm.astro';
import Layout from '../../layouts/Page.astro';
import { Container } from '@components/odyssey-theme';

const seo = {
	title: 'Contact | Nicholas Quillin',
	description: 'Contact Page',
};
---

<Layout seo={seo}>
	<Container>
		<section class="contact-hero__section">
			<div class="contact-hero__text-section">
				<h1>Contact Me</h1>
				<p>
					If you would like to reach out to me, by all means send me an email or text. Furthermore, if you would like to report any bugs regarding this website, please reach out to me over email. I will do my best to respond to you as soon as possible.
				</p>
				<div>
					<p>
						<em><a href="tel:2144302451">(214) 430-2451</a></em> • <em
							><a href="mailto:niq1894@mavs.uta.edu">niq1894@mavs.uta.edu</a
							></em
						>
					</p>
				</div>
			</div>
			<!-- <div class="col-2__container">
				<ContactForm />
			</div> -->
		</section>
	</Container>
</Layout>

<style>
	.contact-hero__section {
		margin: var(--section-margin) auto;
		display: grid;
		grid-template-columns: 1fr;
		min-height: calc(90vh - var(--navbar-height));
		gap: 3rem;
	}
	.contact-hero__text-section {
		padding: 2rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		background-color: var(--theme-surface-1);
		border-radius: var(--theme-shape-radius);
	}
	.col-2__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	@media (max-width: 768px) {
		.contact-hero__section {
			grid-template-columns: 1fr;
		}
	}
</style>
